<%= form_with(model: workout) do |form| %>
  <% if workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :email, prompt: true %>
  </div>

  <div>
    <%= form.label :data_file %>
    <%= form.file_field :data_file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
