<div id="<%= dom_id workout %>" class='workout' data-controller='workout' data-selected="false" data-action="click->workout#toggleSelected">
  <div class='info'>
    <div class='timestamp'><%= workout.start_time.strftime('%-m/%-d/%y @%-I:%M%P') %></div>
    <div class='duration'><%= Time.at(workout.duration).utc.strftime('%-Hh:%Mm:%Ss') %></div>
    <div class='distance'><%= workout.distance %></div>
  </div>
  <div class='controls'>
    <%= link_to 'âœï¸', edit_workout_path(workout) %>
    <%= link_to 'ðŸ—‘ï¸', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
